<div class="container">
	<div class="card-header mt-3">
		<h1 style="font-weight: 800;">Price and Rating</h1>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Price Range</h1>
			<div class="form-group">
		    <label>Narrow by Price</label>
				<div class="form-group" style="display: flex;">
			    <input class="steam-fields w-50 mr-3 p-1" id="low-range" placeholder="Low">
					<b>-</b>
					<input class="steam-fields w-50 ml-3 p-1" id="high-range" placeholder="High">
			  </div>
		  </div>
		</div>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Rating</h1>
			<div class="form-group">
		    <label>Browse by Publisher</label>
		    <select class="steam-fields w-100 p-1" id="ratings" style="color: white;">
		      <option>95 - 99%: Overwhelming Positive</option>
		      <option>80 - 94%: Very Positive</option>
		      <option>70 - 79%: Mostly Positive</option>
		      <option>40 - 69%: Mixed</option>
		      <option>20 - 39%: Mostly Negative</option>
					<option>0  - 39%: Negative</option>
					<option>0  - 19%: Very Negative</option>
		    </select>
		  </div>
		</div>
	</div>

	<button type="button" class="search-buttons btn w-100 mt-3">Search</button>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Results</h1>
		</div>
	</div>
</div>
