<div class="container">
	<div class="card-header mt-3">
		<h1 style="font-weight: 800;">User Tags</h1>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Top Tags</h1>
			<label >Browse a table of games using Tags</label>
		</div>
	</div>
</div>
