<div class="container">
	<div class="card-header mt-3">
		<h1 style="font-weight: 800;">User Tags</h1>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>User Tags</h1>
			<div class="form-group">
		    <label>Browse by User Tags</label>
				<div class="form-group" style="display: flex;">
			    <input class="steam-fields w-100 mr-3 p-1" id="user-tags" placeholder="FPS, Open World, etc.">
					<button type="button" class="search-buttons btn">Search</button>
			  </div>
		  </div>
		</div>
	</div>

	<div class="card mt-3">
  	<div class="card-body">
			<h1>Results</h1>
		</div>
	</div>
</div>
